package ${packageName}.entity;

import com.baomidou.mybatisplus.annotation.TableName;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.ToString;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import java.io.Serializable;
import java.util.Date;

@Data
@AllArgsConstructor
@NoArgsConstructor
@ToString
@TableName("${tableName}")
@JsonIgnoreProperties(ignoreUnknown = true) // 忽略JSON中未知的字段
public class ${className}Entity{
//@TableId(type = IdType.AUTO)
//生成成员变量声明
#foreach ($field in $fields)
private ${field.type} ${field.name};
#end

//添加无参构造函数
//public ${className}() {}

//添加带参构造函数，处理最后一个参数的逗号问题
//public ${className}(#foreach ($field in $fields)#if(!$foreach.hasNext)${field.type} ${field.name}#else${field.type} ${field.name},#end#end) {
//    #foreach ($field in $fields)
//        this.${field.name} = ${field.name};
//    #end
//    }
}